/*表格*/
.ui.table {
    margin-top: 40px;
    margin-left: 320px;
    width: 68%;
    text-align: center;
}
.ui.table tr {
    height: 50px;
}
th {
    font-weight: normal;
}
th button {
    margin: 0 3px !important;
}